/* content */
html, body, main {
  /* height: 100%;
  width: 100%; */
}

/* flexbox, grids */
.inside, #maincontent  {
  width: 100%;
  display: flex;
  /* ToDo  to Conferm is used */
  flex-wrap: wrap;

}

#maincontent  {
  position: absolute;
  top: 120px;
  left: 0px;
}
@media screen and (max-width:415px){
  nav h1 {
    margin: auto;
  	padding-top: 0;
  }

}
@media screen and (max-width: 800px) {


  #restaurant-container {
    width: 100%;
    order: 2;
    }

  #map-container {
    width: 100%;
    height: 400px;
    order: 1;
  }

  #reviews-container {
    width: 100%;
    order: 3;
    margin-left: auto;
    margin-right: auto;
  }
}


@media screen and (min-width: 800px) {

  #restaurant-container {
    width: 48%;
    order: 1;
    }

  #map-container {
    width: 48%;
    height: 600px;
    order: 2;
  }

  #reviews-container {
    width: 100%;
    order: 3;
    margin-left: auto;
    margin-right: auto;
  }


}


@media screen and (min-width: 1000px) {
  #restaurant-container {
    width: 30%;
    order: 1;
    }

  #map-container {
    width: 33%;
    order: 3;

  }
  #reviews-container {
    width: 30%;
    order: 2;
  }
  nav h1 {
    font-weight: 800;
  }

}
